<!DOCTYPE html>
<html>
<head>
	<title>Casino</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

</head>
<body>
<%= erb(:wallet) %>
 <%= yield %>
 <p> What games would you like to play?</p>
  <ul>
    <li><a href = '/craps'>Craps</a></li>
    <li><a href = '/slots'>Slots</a></li>
    <li><a href = '/'>Home</a></li>
  </ul> 
 
</body>
</html>