<!DOCTYPE html>
<html>
<head>
	<title>Casino</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
 	<%= yield %>

 	<footer>
 		<% if $casino.player %>
 			<h4>Player: <%= $casino.player.name %> |
 			Bankroll: <%= $casino.player.bankroll %> </h4>
 		<% end %>
 	</footer>
</body>
</html>