body	{
	background-color: beige;
	background-repeat: no-repeat;
	background-size: 150vh;
	background-opacity: .1;
	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif
}

h1	{
	color: orange;
	font-family: Futura,"Trebuchet MS",Arial,sans-serif;
}

hr	{
	outline: none;
	background-color: orange;
	height: 4px;
}

div {
	float: left;
}

footer {
	background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.section_craps {
	height: 20vh;
}

.section_label {
	transform: rotate(270deg);
	font-size: 15px;
	width: 15vh;
	background-color: black;
	color: white;
	text-align: center;
}

#dice {
	text-align: center;
	border-top: 4px solid orange;
}

#roll_button_div {
	width: 30vw;
}

#roll_button {
	background-color: black;
	color: gold;
	height: 60px;
	width: 150px;
	font-size: 40px;
}

#previous_rolls {
	width: 40vw;
	margin: auto;
}

#dealer {
	background-color: ;
}